/* Khôi phục lại hiển thị chuẩn cho thẻ details */
details {
  display: block;
  background: #EEE8CD;
  padding: 5px;
  margin: 2px 0;
  border-radius: 4px;
}

summary {
  cursor: pointer;
  list-style: none;
}
