/* Khôi phục lại hiển thị chuẩn cho thẻ details */
details {
  display: block;
  padding: 10px;
  background: #F5FFFA;
  margin: 10px 0;
  border-radius: 4px;
}

summary {
  cursor: pointer;
  list-style: none;
  background: #F0F8FF;
}
